{% extends 'users/base.html' %}

{% block title %}
    <title>Log Out</title>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}
{% block content %}
        <h2>You have been logged out!</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'login' %}">Log In again</a>
            </small>
        </div>
{% endblock %}
